@import url("../../assets/styles/general.css");
@import url("../../assets/styles/notification.css");

/* General styles */

#root-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
}

#root-container,
#root-container * {
  box-sizing: border-box;
}

/* Actions */

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
